<launch>

    <arg name="verbose" value="false" />
    <arg name="world_name" default="$(find mkmr_gazebo)/worlds/mk_hotel.world"/>

    <include file="$(find mkmr_gazebo)/launch/empty_gazebo.launch">
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

</launch>
