<launch>

    <arg name="robot_id" default="$(env MKMR_ROBOT_ID)"/>
    <arg name="is_sim" default="true"/>
    <arg name="config_dir" default="$(eval env ('MKMR_CONFIG_PKG'))"/>

    <include file="$(find mkmr_description)/launch/mkmr_description.launch">
        <arg name="robot_id" value="$(arg robot_id)"/>
        <arg name="is_sim" value="$(arg is_sim)"/>
    </include>

    <include file="$(find mkmr_control)/launch/mkmr_controllers.launch">
        <arg name="robot_id" value="$(arg robot_id)"/>
    </include>


    <node pkg="mkmr_services" type="launcher.py" name="$(arg robot_id)_launcher" 
                                                            output="screen" respawn="true" respawn_delay="3">
    </node> 


    <group if = "$(arg is_sim)">

        <include file="$(find mkmr_bringup)/launch/mkmr_sim_bringup.launch">
            <arg name="robot_id" value="$(arg robot_id)"/>
            <arg name="is_sim" value="$(arg is_sim)"/>
            <arg name="posx" value="0.0"/>
            <arg name="posy" value="0.0"/>
            <arg name="posz" value="0.17"/>
            <arg name="yaw" value="0.0"/>
        </include>

    </group>

</launch>