<launch>

    <arg name="robot_id" default="$(env MKMR_ROBOT_ID)"/>
    <arg name="is_sim" default="true"/>
    <arg name="config_dir" default="$(eval env ('MKMR_CONFIG_PKG'))"/>

    <include file="$(find mkmr_description)/launch/mkmr_description.launch">
        <arg name="robot_id" value="$(arg robot_id)"/>
        <arg name="is_sim" value="$(arg is_sim)"/>
    </include>

    <include file="$(find mkmr_control)/launch/mkmr_controllers.launch">
        <arg name="robot_id" value="$(arg robot_id)"/>
    </include>


    <node pkg="mkmr_services" type="launcher.py" name="$(arg robot_id)_launcher" 
                                                output="screen" respawn="true" respawn_delay="3">
    </node> 


    <group ns="$(arg robot_id)">
        <node pkg="mkmr_scripts" type="mkmr.py" name="mkmr" output="screen" respawn="true" respawn_delay="3"/>
        <node pkg="mkmr_scripts" type="ui.py" name="ui" output="screen" respawn="true" respawn_delay="3"/>
        <node pkg="mkmr_services" type="location.py" name="location" output="screen" respawn="true" respawn_delay="3"/>
    
    </group>


    <group if = "$(arg is_sim)">

        <include file="$(find mkmr_bringup)/launch/mkmr_sim_bringup.launch">
            <arg name="robot_id" value="$(arg robot_id)"/>
            <arg name="is_sim" value="$(arg is_sim)"/>
            <arg name="posx" value="15.0"/>
            <arg name="posy" value="-38.0"/>
            <arg name="posz" value="0.1"/>
            <arg name="yaw" value="1.57"/>
        </include>

    </group>

</launch>