<launch>

    <arg name="robot_id" default="rmk"/>
    <arg name="robot_name" default="smr1"/>

    <group ns = "$(arg robot_id)">

        <node name="fake_docking_server" pkg="free_fleet_client_ros1" type="fake_docking_server"/>
        
        <node name="free_fleet_client" pkg="free_fleet_client_ros1" type="free_fleet_client_ros1" output="screen">
            <param name="fleet_name" type="string" value="mkmr"/>
            <param name="robot_name" type="string" value="$(arg robot_name)"/>

            <param name="robot_model" type="string" value="mkmr"/>
            <param name="level_name" type="string" value="L1"/>

            <param name="dds_domain" type="int" value="42"/>
            <param name="max_dist_to_first_waypoint" type="double" value="1000.0"/>
            <param name="move_base_server_name" type="string" value="/$(arg robot_id)/move_base"/>            
            <param name="docking_trigger_server_name" type="string" value="/$(arg robot_id)/fake_docking_server"/>
            <param name="map_frame" type="string" value="$(arg robot_id)/map"/>            
            <param name="robot_frame" type="string" value="$(arg robot_id)/base_footprint"/>

            <remap from="/battery_state" to="batt_state"/>
            <!-- <remap from="/tf" to="tf"/> -->
            <!-- <remap from="/tf_static" to="tf_static"/> -->

        </node>

    </group>

</launch>
