<launch>
    <arg name="robot_id" default="$(env MKMR_ROBOT_ID)"/>
    <arg name="is_sim" default="true"/>
    <arg name="posx" default="0.0"/>
    <arg name="posy" default="0.0"/>
    <arg name="posz" default="0.17"/>
    <arg name="yaw" default="0.0"/>

    <node name="$(arg robot_id)_urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model $(arg robot_id) -param /$(arg robot_id)/robot_description -x $(arg posx) -y $(arg posy) -z $(arg posz) -Y $(arg yaw)"/>


</launch> 
