<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="mkmr_base">


        <!-- Base footprint -->
        <link name="${ROBOT_ID}/base_footprint">
        </link>

        <!-- Base link -->
        <link name="${ROBOT_ID}/base_link">
        </link>
            
        <joint name="${ROBOT_ID}/base_footprint_joint" type="fixed">
            <origin xyz="0 0 0.04" rpy="0 0 0"/> <!-- drive wheel radius-->
            <parent link="${ROBOT_ID}/base_footprint"/>
            <child link="${ROBOT_ID}/base_link"/>
        </joint>


    <xacro:include filename="$(find mkmr_description)/urdf/mkmr/mkmr_chasis.urdf.xacro"/>
    <xacro:chasis parent="${ROBOT_ID}/base_link"/>


  
    </xacro:macro>

</robot>
