<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="mkmr_base">


        <!-- Base footprint -->
        <link name="${ROBOT_ID}/base_footprint">
        </link>

        <!-- Base link -->
        <link name="${ROBOT_ID}/base_link">
        </link>
            
        <joint name="${ROBOT_ID}/base_footprint_joint" type="fixed">
            <origin xyz="0 0 0.04" rpy="0 0 0"/> <!-- drive wheel radius-->
            <parent link="${ROBOT_ID}/base_footprint"/>
            <child link="${ROBOT_ID}/base_link"/>
        </joint>


    <xacro:include filename="$(find mkmr_description)/urdf/mkmr/mkmr_chasis.urdf.xacro"/>
    <xacro:chasis parent="${ROBOT_ID}/base_link"/>


        <!-- fMotorBracket -->
        <!-- <link name="${ROBOT_ID}/fMotorBracket">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://mkmr_description/meshes/fMotorBracket.STL" />
                </geometry>
                <material name="Black"/>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://mkmr_description/meshes/fMotorBracket.STL" />
                </geometry>
            </collision>

            <inertial>
                <origin xyz="-0.0610000000000015 -0.0674547790002785 -0.0116887463358963"/>
                <mass value="0.2"/>
                <inertia
                    ixx="3.51055038644331E-06"
                    ixy="-6.12729326621837E-19"
                    ixz="8.524624284462E-17"
                    iyy="3.95634077909559E-06"
                    iyz="1.11448332781975E-19"
                    izz="3.62492890882267E-06" />
            </inertial>
        </link>
            
        <joint name="${ROBOT_ID}/fMotorBracket_joint" type="fixed">
            <origin xyz="0.0345000000000004 0 -0.0609999999999998" rpy="1.5707963267949 1.5707963267949 0"/> 
            <parent link="${ROBOT_ID}/base_link"/>
            <child link="${ROBOT_ID}/fMotorBracket"/>
        </joint> -->

        <!-- fMotor -->
        <!-- <link name="${ROBOT_ID}/fMotor">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://mkmr_description/meshes/fMotor.STL" />
                </geometry>
                <material name="Black"/>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://mkmr_description/meshes/fMotor.STL" />
                </geometry>
            </collision>

            <inertial>
                <origin xyz="0.0012598162449621 0.0824999999999999 -0.079"/>
                <mass value="0.2"/>
                <inertia
                    ixx="5.17259698645822E-05"
                    ixy="-5.07691498136368E-23"
                    ixz="-7.9467054546941E-20"
                    iyy="5.18506671512217E-05"
                    iyz="2.71802092193946E-07"
                    izz="2.83766813003582E-05" />
            </inertial>
        </link>
            
        <joint name="${ROBOT_ID}/fMotor_joint" type="fixed">
            <origin xyz="0.0179999999999999 -0.15 -0.0285000000000011" rpy="0 1.5707963267949 0"/> 
            <parent link="${ROBOT_ID}/fMotorBracket"/>
            <child link="${ROBOT_ID}/fMotor"/>
        </joint> -->


        <!-- fDrivers -->
        <!-- <link name="${ROBOT_ID}/fDrivers">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://mkmr_description/meshes/fDrivers.STL" />
                </geometry>
                <material name="Black"/>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://mkmr_description/meshes/fDrivers.STL" />
                </geometry>
            </collision>

            <inertial>
                <origin xyz="-0.00660140608489862 0.0452390915749958 -0.00380039164943846"/>
                <mass value="0.3"/>
                <inertia
                    ixx="9.00028132290921E-06"
                    ixy="1.23322543868992E-07"
                    ixz="1.33828527421449E-07"
                    iyy="2.17066983097978E-05"
                    iyz="7.70745731959558E-07"
                    izz="2.83837538531001E-05" />
            </inertial>
        </link>
            
        <joint name="${ROBOT_ID}/fDrivers_joint" type="fixed">
            <origin xyz="0.26391 -0.33566 0.1011" rpy="-1.5708 0 -3.1416"/> 
            <parent link="${ROBOT_ID}/base_link"/>
            <child link="${ROBOT_ID}/fDrivers"/>
        </joint> -->


    

    </xacro:macro>

</robot>
