<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mkmr" >
    <xacro:arg name="use_ros_control_for_base" default="true"/>
    <xacro:arg name="is_sim" default="false"/>
    <xacro:arg name="robot_id" default="mkmr0"/>
    <xacro:arg name="gazebo_world_name" default="empty"/>


    <xacro:property name="ROBOT_ID" value="$(arg robot_id)"/>
    <xacro:property name="IS_SIM" value="$(arg is_sim)"/>
    <xacro:property name="GZ_WORLD" value="$(arg gazebo_world_name)"/>

    <xacro:include filename="$(find mkmr_description)/urdf/common/materials.xacro"/>
    <xacro:include filename="$(find mkmr_description)/urdf/common/utils.urdf.xacro"/>
    <xacro:include filename="$(find mkmr_description)/urdf/common/plugins.gazebo.xacro"/>


    <xacro:include filename="$(find mkmr_description)/urdf/mkmr/mkmr_base.urdf.xacro"/>
    <xacro:include filename="$(find mkmr_description)/urdf/mkmr/mkmr_fixed.urdf.xacro"/>
    <xacro:include filename="$(find mkmr_description)/urdf/sensors/rplidar_a1.urdf.xacro"/>

    <!-- Robot Base-->
    <xacro:mkmr_base/>

    <!-- Robot Fixed-->
    <xacro:mkmr_fixed/>

    <!-- Laser -->
    <!-- TODO update origin_xyz -->
    <xacro:rplidar_a1 parent="${ROBOT_ID}/base_link" 
                        name="scan"
                        origin_xyz="0.07 0 0.124"   
                        origin_rpy="0 0 0"/>  


</robot>


